<div class="position-relative home-page">
  <section class="hero-section">
    <div class="hero-container">
      <h1>Welcome to PCDA</h1>
      <h2>PCDA connects course materials to syllabi - efficient, organized,
        searchable.</h2>
    </div>
  </section>
</div>